themes {
    catppuccin {
        text_unselected {
            base 205 214 244
            background 30 30 46
            emphasis_0 137 180 250
            emphasis_1 166 227 161
            emphasis_2 249 226 175
            emphasis_3 203 166 247
        }
        text_selected {
            base 205 214 244
            background 49 50 68
            emphasis_0 137 180 250
            emphasis_1 166 227 161
            emphasis_2 249 226 175
            emphasis_3 203 166 247
        }
        ribbon_selected {
            base 30 30 46
            background 137 180 250
            emphasis_0 243 139 168
            emphasis_1 249 226 175
            emphasis_2 203 166 247
            emphasis_3 205 214 244
        }
        ribbon_unselected {
            base 30 30 46
            background 108 112 134
            emphasis_0 243 139 168
            emphasis_1 205 214 244
            emphasis_2 203 166 247
            emphasis_3 49 50 68
        }
        table_title {
            base 137 180 250
            background 30 30 46
            emphasis_0 243 139 168
            emphasis_1 166 227 161
            emphasis_2 249 226 175
            emphasis_3 203 166 247
        }
        table_cell_selected {
            base 205 214 244
            background 49 50 68
            emphasis_0 137 180 250
            emphasis_1 166 227 161
            emphasis_2 249 226 175
            emphasis_3 203 166 247
        }
        table_cell_unselected {
            base 205 214 244
            background 30 30 46
            emphasis_0 137 180 250
            emphasis_1 166 227 161
            emphasis_2 249 226 175
            emphasis_3 203 166 247
        }
        list_selected {
            base 205 214 244
            background 49 50 68
            emphasis_0 137 180 250
            emphasis_1 166 227 161
            emphasis_2 249 226 175
            emphasis_3 203 166 247
        }
        list_unselected {
            base 205 214 244
            background 30 30 46
            emphasis_0 137 180 250
            emphasis_1 166 227 161
            emphasis_2 249 226 175
            emphasis_3 203 166 247
        }
        frame_selected {
            base 137 180 250
            background 30 30 46
            emphasis_0 137 180 250
            emphasis_1 166 227 161
            emphasis_2 249 226 175
            emphasis_3 203 166 247
        }
        frame_highlight {
            base 250 179 135
            background 30 30 46
            emphasis_0 250 179 135
            emphasis_1 250 179 135
            emphasis_2 250 179 135
            emphasis_3 250 179 135
        }
        exit_code_success {
            base 166 227 161
            background 30 30 46
            emphasis_0 166 227 161
            emphasis_1 166 227 161
            emphasis_2 166 227 161
            emphasis_3 166 227 161
        }
        exit_code_error {
            base 243 139 168
            background 30 30 46
            emphasis_0 243 139 168
            emphasis_1 243 139 168
            emphasis_2 243 139 168
            emphasis_3 243 139 168
        }
        multiplayer_user_colors {
            player_1 137 180 250
            player_2 203 166 247
            player_3 166 227 161
            player_4 249 226 175
            player_5 148 226 213
            player_6 250 179 135
            player_7 243 139 168
            player_8 108 112 134
        }
    }
}
