themes {
    cobalt {
        text_unselected {
            base 232 238 245
            background 0 0 0
            emphasis_0 45 156 219
            emphasis_1 79 208 138
            emphasis_2 245 196 98
            emphasis_3 157 123 240
        }
        text_selected {
            base 232 238 245
            background 16 22 31
            emphasis_0 45 156 219
            emphasis_1 79 208 138
            emphasis_2 245 196 98
            emphasis_3 157 123 240
        }
        ribbon_selected {
            base 0 0 0
            background 45 156 219
            emphasis_0 255 107 107
            emphasis_1 245 196 98
            emphasis_2 157 123 240
            emphasis_3 232 238 245
        }
        ribbon_unselected {
            base 0 0 0
            background 122 134 150
            emphasis_0 255 107 107
            emphasis_1 232 238 245
            emphasis_2 157 123 240
            emphasis_3 16 22 31
        }
        table_title {
            base 45 156 219
            background 0 0 0
            emphasis_0 255 107 107
            emphasis_1 79 208 138
            emphasis_2 245 196 98
            emphasis_3 157 123 240
        }
        table_cell_selected {
            base 232 238 245
            background 16 22 31
            emphasis_0 45 156 219
            emphasis_1 79 208 138
            emphasis_2 245 196 98
            emphasis_3 157 123 240
        }
        table_cell_unselected {
            base 232 238 245
            background 0 0 0
            emphasis_0 45 156 219
            emphasis_1 79 208 138
            emphasis_2 245 196 98
            emphasis_3 157 123 240
        }
        list_selected {
            base 232 238 245
            background 16 22 31
            emphasis_0 45 156 219
            emphasis_1 79 208 138
            emphasis_2 245 196 98
            emphasis_3 157 123 240
        }
        list_unselected {
            base 232 238 245
            background 0 0 0
            emphasis_0 45 156 219
            emphasis_1 79 208 138
            emphasis_2 245 196 98
            emphasis_3 157 123 240
        }
        frame_selected {
            base 45 156 219
            background 0 0 0
            emphasis_0 45 156 219
            emphasis_1 79 208 138
            emphasis_2 245 196 98
            emphasis_3 157 123 240
        }
        frame_highlight {
            base 255 159 90
            background 0 0 0
            emphasis_0 255 159 90
            emphasis_1 255 159 90
            emphasis_2 255 159 90
            emphasis_3 255 159 90
        }
        exit_code_success {
            base 79 208 138
            background 0 0 0
            emphasis_0 79 208 138
            emphasis_1 79 208 138
            emphasis_2 79 208 138
            emphasis_3 79 208 138
        }
        exit_code_error {
            base 255 107 107
            background 0 0 0
            emphasis_0 255 107 107
            emphasis_1 255 107 107
            emphasis_2 255 107 107
            emphasis_3 255 107 107
        }
        multiplayer_user_colors {
            player_1 45 156 219
            player_2 157 123 240
            player_3 79 208 138
            player_4 245 196 98
            player_5 54 200 224
            player_6 255 159 90
            player_7 255 107 107
            player_8 122 134 150
        }
    }
}
