themes {
    ironclad {
        text_unselected {
            base 231 237 242
            background 14 17 19
            emphasis_0 157 180 199
            emphasis_1 132 199 154
            emphasis_2 232 207 138
            emphasis_3 179 166 214
        }
        text_selected {
            base 231 237 242
            background 28 34 39
            emphasis_0 157 180 199
            emphasis_1 132 199 154
            emphasis_2 232 207 138
            emphasis_3 179 166 214
        }
        ribbon_selected {
            base 14 17 19
            background 157 180 199
            emphasis_0 232 118 127
            emphasis_1 232 207 138
            emphasis_2 179 166 214
            emphasis_3 231 237 242
        }
        ribbon_unselected {
            base 14 17 19
            background 127 140 152
            emphasis_0 232 118 127
            emphasis_1 231 237 242
            emphasis_2 179 166 214
            emphasis_3 28 34 39
        }
        table_title {
            base 157 180 199
            background 14 17 19
            emphasis_0 232 118 127
            emphasis_1 132 199 154
            emphasis_2 232 207 138
            emphasis_3 179 166 214
        }
        table_cell_selected {
            base 231 237 242
            background 28 34 39
            emphasis_0 157 180 199
            emphasis_1 132 199 154
            emphasis_2 232 207 138
            emphasis_3 179 166 214
        }
        table_cell_unselected {
            base 231 237 242
            background 14 17 19
            emphasis_0 157 180 199
            emphasis_1 132 199 154
            emphasis_2 232 207 138
            emphasis_3 179 166 214
        }
        list_selected {
            base 231 237 242
            background 28 34 39
            emphasis_0 157 180 199
            emphasis_1 132 199 154
            emphasis_2 232 207 138
            emphasis_3 179 166 214
        }
        list_unselected {
            base 231 237 242
            background 14 17 19
            emphasis_0 157 180 199
            emphasis_1 132 199 154
            emphasis_2 232 207 138
            emphasis_3 179 166 214
        }
        frame_selected {
            base 157 180 199
            background 14 17 19
            emphasis_0 157 180 199
            emphasis_1 132 199 154
            emphasis_2 232 207 138
            emphasis_3 179 166 214
        }
        frame_highlight {
            base 230 169 106
            background 14 17 19
            emphasis_0 230 169 106
            emphasis_1 230 169 106
            emphasis_2 230 169 106
            emphasis_3 230 169 106
        }
        exit_code_success {
            base 132 199 154
            background 14 17 19
            emphasis_0 132 199 154
            emphasis_1 132 199 154
            emphasis_2 132 199 154
            emphasis_3 132 199 154
        }
        exit_code_error {
            base 232 118 127
            background 14 17 19
            emphasis_0 232 118 127
            emphasis_1 232 118 127
            emphasis_2 232 118 127
            emphasis_3 232 118 127
        }
        multiplayer_user_colors {
            player_1 157 180 199
            player_2 179 166 214
            player_3 132 199 154
            player_4 232 207 138
            player_5 127 198 207
            player_6 230 169 106
            player_7 232 118 127
            player_8 127 140 152
        }
    }
}
