themes {
    meridian {
        text_unselected {
            base 238 243 226
            background 10 12 7
            emphasis_0 196 240 0
            emphasis_1 159 224 0
            emphasis_2 230 232 74
            emphasis_3 201 166 255
        }
        text_selected {
            base 238 243 226
            background 22 26 14
            emphasis_0 196 240 0
            emphasis_1 159 224 0
            emphasis_2 230 232 74
            emphasis_3 201 166 255
        }
        ribbon_selected {
            base 10 12 7
            background 196 240 0
            emphasis_0 255 107 107
            emphasis_1 230 232 74
            emphasis_2 201 166 255
            emphasis_3 238 243 226
        }
        ribbon_unselected {
            base 10 12 7
            background 143 155 120
            emphasis_0 255 107 107
            emphasis_1 238 243 226
            emphasis_2 201 166 255
            emphasis_3 22 26 14
        }
        table_title {
            base 196 240 0
            background 10 12 7
            emphasis_0 255 107 107
            emphasis_1 159 224 0
            emphasis_2 230 232 74
            emphasis_3 201 166 255
        }
        table_cell_selected {
            base 238 243 226
            background 22 26 14
            emphasis_0 196 240 0
            emphasis_1 159 224 0
            emphasis_2 230 232 74
            emphasis_3 201 166 255
        }
        table_cell_unselected {
            base 238 243 226
            background 10 12 7
            emphasis_0 196 240 0
            emphasis_1 159 224 0
            emphasis_2 230 232 74
            emphasis_3 201 166 255
        }
        list_selected {
            base 238 243 226
            background 22 26 14
            emphasis_0 196 240 0
            emphasis_1 159 224 0
            emphasis_2 230 232 74
            emphasis_3 201 166 255
        }
        list_unselected {
            base 238 243 226
            background 10 12 7
            emphasis_0 196 240 0
            emphasis_1 159 224 0
            emphasis_2 230 232 74
            emphasis_3 201 166 255
        }
        frame_selected {
            base 196 240 0
            background 10 12 7
            emphasis_0 196 240 0
            emphasis_1 159 224 0
            emphasis_2 230 232 74
            emphasis_3 201 166 255
        }
        frame_highlight {
            base 255 179 71
            background 10 12 7
            emphasis_0 255 179 71
            emphasis_1 255 179 71
            emphasis_2 255 179 71
            emphasis_3 255 179 71
        }
        exit_code_success {
            base 159 224 0
            background 10 12 7
            emphasis_0 159 224 0
            emphasis_1 159 224 0
            emphasis_2 159 224 0
            emphasis_3 159 224 0
        }
        exit_code_error {
            base 255 107 107
            background 10 12 7
            emphasis_0 255 107 107
            emphasis_1 255 107 107
            emphasis_2 255 107 107
            emphasis_3 255 107 107
        }
        multiplayer_user_colors {
            player_1 196 240 0
            player_2 201 166 255
            player_3 159 224 0
            player_4 230 232 74
            player_5 127 214 168
            player_6 255 179 71
            player_7 255 107 107
            player_8 143 155 120
        }
    }
}
