themes {
    nightshade {
        text_unselected {
            base 233 234 252
            background 12 20 48
            emphasis_0 138 123 240
            emphasis_1 116 217 159
            emphasis_2 245 200 115
            emphasis_3 176 139 255
        }
        text_selected {
            base 233 234 252
            background 22 32 69
            emphasis_0 138 123 240
            emphasis_1 116 217 159
            emphasis_2 245 200 115
            emphasis_3 176 139 255
        }
        ribbon_selected {
            base 12 20 48
            background 138 123 240
            emphasis_0 255 107 129
            emphasis_1 245 200 115
            emphasis_2 176 139 255
            emphasis_3 233 234 252
        }
        ribbon_unselected {
            base 12 20 48
            background 128 136 176
            emphasis_0 255 107 129
            emphasis_1 233 234 252
            emphasis_2 176 139 255
            emphasis_3 22 32 69
        }
        table_title {
            base 138 123 240
            background 12 20 48
            emphasis_0 255 107 129
            emphasis_1 116 217 159
            emphasis_2 245 200 115
            emphasis_3 176 139 255
        }
        table_cell_selected {
            base 233 234 252
            background 22 32 69
            emphasis_0 138 123 240
            emphasis_1 116 217 159
            emphasis_2 245 200 115
            emphasis_3 176 139 255
        }
        table_cell_unselected {
            base 233 234 252
            background 12 20 48
            emphasis_0 138 123 240
            emphasis_1 116 217 159
            emphasis_2 245 200 115
            emphasis_3 176 139 255
        }
        list_selected {
            base 233 234 252
            background 22 32 69
            emphasis_0 138 123 240
            emphasis_1 116 217 159
            emphasis_2 245 200 115
            emphasis_3 176 139 255
        }
        list_unselected {
            base 233 234 252
            background 12 20 48
            emphasis_0 138 123 240
            emphasis_1 116 217 159
            emphasis_2 245 200 115
            emphasis_3 176 139 255
        }
        frame_selected {
            base 138 123 240
            background 12 20 48
            emphasis_0 138 123 240
            emphasis_1 116 217 159
            emphasis_2 245 200 115
            emphasis_3 176 139 255
        }
        frame_highlight {
            base 255 158 100
            background 12 20 48
            emphasis_0 255 158 100
            emphasis_1 255 158 100
            emphasis_2 255 158 100
            emphasis_3 255 158 100
        }
        exit_code_success {
            base 116 217 159
            background 12 20 48
            emphasis_0 116 217 159
            emphasis_1 116 217 159
            emphasis_2 116 217 159
            emphasis_3 116 217 159
        }
        exit_code_error {
            base 255 107 129
            background 12 20 48
            emphasis_0 255 107 129
            emphasis_1 255 107 129
            emphasis_2 255 107 129
            emphasis_3 255 107 129
        }
        multiplayer_user_colors {
            player_1 138 123 240
            player_2 176 139 255
            player_3 116 217 159
            player_4 245 200 115
            player_5 86 199 214
            player_6 255 158 100
            player_7 255 107 129
            player_8 128 136 176
        }
    }
}
