themes {
    sentinel {
        text_unselected {
            base 234 238 247
            background 10 20 40
            emphasis_0 58 99 196
            emphasis_1 79 192 138
            emphasis_2 232 184 74
            emphasis_3 143 139 240
        }
        text_selected {
            base 234 238 247
            background 19 33 62
            emphasis_0 58 99 196
            emphasis_1 79 192 138
            emphasis_2 232 184 74
            emphasis_3 143 139 240
        }
        ribbon_selected {
            base 10 20 40
            background 58 99 196
            emphasis_0 184 31 51
            emphasis_1 232 184 74
            emphasis_2 143 139 240
            emphasis_3 234 238 247
        }
        ribbon_unselected {
            base 10 20 40
            background 128 140 166
            emphasis_0 184 31 51
            emphasis_1 234 238 247
            emphasis_2 143 139 240
            emphasis_3 19 33 62
        }
        table_title {
            base 58 99 196
            background 10 20 40
            emphasis_0 184 31 51
            emphasis_1 79 192 138
            emphasis_2 232 184 74
            emphasis_3 143 139 240
        }
        table_cell_selected {
            base 234 238 247
            background 19 33 62
            emphasis_0 58 99 196
            emphasis_1 79 192 138
            emphasis_2 232 184 74
            emphasis_3 143 139 240
        }
        table_cell_unselected {
            base 234 238 247
            background 10 20 40
            emphasis_0 58 99 196
            emphasis_1 79 192 138
            emphasis_2 232 184 74
            emphasis_3 143 139 240
        }
        list_selected {
            base 234 238 247
            background 19 33 62
            emphasis_0 58 99 196
            emphasis_1 79 192 138
            emphasis_2 232 184 74
            emphasis_3 143 139 240
        }
        list_unselected {
            base 234 238 247
            background 10 20 40
            emphasis_0 58 99 196
            emphasis_1 79 192 138
            emphasis_2 232 184 74
            emphasis_3 143 139 240
        }
        frame_selected {
            base 58 99 196
            background 10 20 40
            emphasis_0 58 99 196
            emphasis_1 79 192 138
            emphasis_2 232 184 74
            emphasis_3 143 139 240
        }
        frame_highlight {
            base 240 149 74
            background 10 20 40
            emphasis_0 240 149 74
            emphasis_1 240 149 74
            emphasis_2 240 149 74
            emphasis_3 240 149 74
        }
        exit_code_success {
            base 79 192 138
            background 10 20 40
            emphasis_0 79 192 138
            emphasis_1 79 192 138
            emphasis_2 79 192 138
            emphasis_3 79 192 138
        }
        exit_code_error {
            base 184 31 51
            background 10 20 40
            emphasis_0 184 31 51
            emphasis_1 184 31 51
            emphasis_2 184 31 51
            emphasis_3 184 31 51
        }
        multiplayer_user_colors {
            player_1 58 99 196
            player_2 143 139 240
            player_3 79 192 138
            player_4 232 184 74
            player_5 184 31 51
            player_6 240 149 74
            player_7 184 31 51
            player_8 128 140 166
        }
    }
}
