themes {
    solstice {
        text_unselected {
            base 238 240 242
            background 18 20 23
            emphasis_0 247 148 30
            emphasis_1 122 208 122
            emphasis_2 247 193 74
            emphasis_3 199 155 255
        }
        text_selected {
            base 238 240 242
            background 30 34 39
            emphasis_0 247 148 30
            emphasis_1 122 208 122
            emphasis_2 247 193 74
            emphasis_3 199 155 255
        }
        ribbon_selected {
            base 18 20 23
            background 247 148 30
            emphasis_0 255 107 86
            emphasis_1 247 193 74
            emphasis_2 199 155 255
            emphasis_3 238 240 242
        }
        ribbon_unselected {
            base 18 20 23
            background 138 146 156
            emphasis_0 255 107 86
            emphasis_1 238 240 242
            emphasis_2 199 155 255
            emphasis_3 30 34 39
        }
        table_title {
            base 247 148 30
            background 18 20 23
            emphasis_0 255 107 86
            emphasis_1 122 208 122
            emphasis_2 247 193 74
            emphasis_3 199 155 255
        }
        table_cell_selected {
            base 238 240 242
            background 30 34 39
            emphasis_0 247 148 30
            emphasis_1 122 208 122
            emphasis_2 247 193 74
            emphasis_3 199 155 255
        }
        table_cell_unselected {
            base 238 240 242
            background 18 20 23
            emphasis_0 247 148 30
            emphasis_1 122 208 122
            emphasis_2 247 193 74
            emphasis_3 199 155 255
        }
        list_selected {
            base 238 240 242
            background 30 34 39
            emphasis_0 247 148 30
            emphasis_1 122 208 122
            emphasis_2 247 193 74
            emphasis_3 199 155 255
        }
        list_unselected {
            base 238 240 242
            background 18 20 23
            emphasis_0 247 148 30
            emphasis_1 122 208 122
            emphasis_2 247 193 74
            emphasis_3 199 155 255
        }
        frame_selected {
            base 247 148 30
            background 18 20 23
            emphasis_0 247 148 30
            emphasis_1 122 208 122
            emphasis_2 247 193 74
            emphasis_3 199 155 255
        }
        frame_highlight {
            base 255 158 61
            background 18 20 23
            emphasis_0 255 158 61
            emphasis_1 255 158 61
            emphasis_2 255 158 61
            emphasis_3 255 158 61
        }
        exit_code_success {
            base 122 208 122
            background 18 20 23
            emphasis_0 122 208 122
            emphasis_1 122 208 122
            emphasis_2 122 208 122
            emphasis_3 122 208 122
        }
        exit_code_error {
            base 255 107 86
            background 18 20 23
            emphasis_0 255 107 86
            emphasis_1 255 107 86
            emphasis_2 255 107 86
            emphasis_3 255 107 86
        }
        multiplayer_user_colors {
            player_1 247 148 30
            player_2 199 155 255
            player_3 122 208 122
            player_4 247 193 74
            player_5 63 196 176
            player_6 255 158 61
            player_7 255 107 86
            player_8 138 146 156
        }
    }
}
