themes {
    venom {
        text_unselected {
            base 230 242 232
            background 10 15 11
            emphasis_0 57 211 83
            emphasis_1 63 208 122
            emphasis_2 230 230 74
            emphasis_3 164 114 255
        }
        text_selected {
            base 230 242 232
            background 20 29 22
            emphasis_0 57 211 83
            emphasis_1 63 208 122
            emphasis_2 230 230 74
            emphasis_3 164 114 255
        }
        ribbon_selected {
            base 10 15 11
            background 57 211 83
            emphasis_0 255 95 86
            emphasis_1 230 230 74
            emphasis_2 164 114 255
            emphasis_3 230 242 232
        }
        ribbon_unselected {
            base 10 15 11
            background 126 148 132
            emphasis_0 255 95 86
            emphasis_1 230 242 232
            emphasis_2 164 114 255
            emphasis_3 20 29 22
        }
        table_title {
            base 57 211 83
            background 10 15 11
            emphasis_0 255 95 86
            emphasis_1 63 208 122
            emphasis_2 230 230 74
            emphasis_3 164 114 255
        }
        table_cell_selected {
            base 230 242 232
            background 20 29 22
            emphasis_0 57 211 83
            emphasis_1 63 208 122
            emphasis_2 230 230 74
            emphasis_3 164 114 255
        }
        table_cell_unselected {
            base 230 242 232
            background 10 15 11
            emphasis_0 57 211 83
            emphasis_1 63 208 122
            emphasis_2 230 230 74
            emphasis_3 164 114 255
        }
        list_selected {
            base 230 242 232
            background 20 29 22
            emphasis_0 57 211 83
            emphasis_1 63 208 122
            emphasis_2 230 230 74
            emphasis_3 164 114 255
        }
        list_unselected {
            base 230 242 232
            background 10 15 11
            emphasis_0 57 211 83
            emphasis_1 63 208 122
            emphasis_2 230 230 74
            emphasis_3 164 114 255
        }
        frame_selected {
            base 57 211 83
            background 10 15 11
            emphasis_0 57 211 83
            emphasis_1 63 208 122
            emphasis_2 230 230 74
            emphasis_3 164 114 255
        }
        frame_highlight {
            base 255 158 100
            background 10 15 11
            emphasis_0 255 158 100
            emphasis_1 255 158 100
            emphasis_2 255 158 100
            emphasis_3 255 158 100
        }
        exit_code_success {
            base 63 208 122
            background 10 15 11
            emphasis_0 63 208 122
            emphasis_1 63 208 122
            emphasis_2 63 208 122
            emphasis_3 63 208 122
        }
        exit_code_error {
            base 255 95 86
            background 10 15 11
            emphasis_0 255 95 86
            emphasis_1 255 95 86
            emphasis_2 255 95 86
            emphasis_3 255 95 86
        }
        multiplayer_user_colors {
            player_1 57 211 83
            player_2 164 114 255
            player_3 63 208 122
            player_4 230 230 74
            player_5 63 208 176
            player_6 255 158 100
            player_7 255 95 86
            player_8 126 148 132
        }
    }
}
